# Frontend
VITE_AWS_REGION=eu-west-1
VITE_COGNITO_USER_POOL_ID=eu-west-1_example
VITE_COGNITO_USER_POOL_CLIENT_ID=exampleclientid
VITE_APPSYNC_GRAPHQL_ENDPOINT=https://example.appsync-api.eu-west-1.amazonaws.com/graphql
VITE_APPSYNC_AUTH_TYPE=AMAZON_COGNITO_USER_POOLS

# Backend
STAGE=dev
COGNITO_USER_POOL_ID=eu-west-1_example
COGNITO_USER_POOL_CLIENT_ID=exampleclientid
DOCUMENTDB_URI=******documentdb-cluster:27017/ultimatefantasy?tls=true&retryWrites=false
AWS_REGION=eu-west-1

# CLI
UF_STAGE=dev
UF_REGION=eu-west-1
UF_STACK_NAME=ultimate-fantasy-dev
