STAGE=dev
AWS_REGION=us-east-1
COGNITO_USER_POOL_ID=us-east-1_example
COGNITO_USER_POOL_CLIENT_ID=exampleclientid
DOCUMENTDB_URI=******documentdb-cluster:27017/ultimatefantasy?tls=true&retryWrites=false
